<html layout:decorate="~{layout/main}">
    <head>
        <title>Forgot Password</title>
    </head>
    <body>
        <div layout:fragment="content" class="padding">
            <h1 class="h1-form">Please enter your account's e-mail address!</h1>
            <form th:action="@{/password/forgot}" method="post" onsubmit="clearAndDisable(this)">
                <label>E-mail address<span class="red"> *</span></label><br/>
                <input th:value="${reset_password_email}" th:classappend="${alert_email} ? 'alert-input'" name="email" type="text" required class="input-height input-width"/>
                <span th:if="${alert_email}" th:text="${alert_email}" class="alert-label red relative"></span><br/>
                <button type="submit" class="big-button big-button-margin-2 green-hover input-height input-width"><span class="fa fa-envelope"></span> Send request to reset password</button>
            </form>
        </div>
    </body>
</html>