<html layout:decorate="~{layout/main}">
    <head>
        <title>Reset password</title>
    </head>
    <body>
        <div layout:fragment="content" class="padding">
            <h1 class="h1-form">Please enter your new password!</h1>
            <form th:action="@{${'/password/reset/' + code}}" method="post" onsubmit="clearAndDisable(this)">
                <label>Password<span class="red"> *</span></label><br/>
                <input th:value="${new_password1}" th:classappend="${alert_password1} ? 'alert-input'" name="password1" type="password" required class="input-height input-width"/>
                <span th:if="${alert_password1}" th:text="${alert_password1}" class="alert-label red relative"></span><br/>
                <p id="password-make-sure" class="relative">Make sure it's at least 8 characters containing a number, a lowercase and an uppercase letter.</p>
                <label>Confirm password<span class="red"> *</span></label><br/>
                <input th:value="${new_password2}" th:classappend="${alert_password2} ? 'alert-input'" name="password2" type="password" required class="input-height input-width"/>
                <span th:if="${alert_password2}" th:text="${alert_password2}" class="alert-label red relative"></span><br/>
                <button type="submit" class="big-button big-button-margin-2 green-hover input-height input-width"><span class="fa fa-key"></span> Change password</button>
            </form>
        </div>
    </body>
</html>